---
---

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';



// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  ),
		short:    '(max-height: 640px)'
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/bg';
	@import 'base/typography';

// Components.

	@import 'components/section';
	@import 'components/icon';
	@import 'components/list';
	@import 'components/icons';
	@import 'components/form';
	@import 'components/button';

// Layout.

	@import 'layout/header';
	@import 'layout/signup-form';
	@import 'layout/footer';

// Jekyll Custom Components.

	@import 'components/jekyll-header';
	@import 'components/jekyll-featured-portfolio';
	@import 'components/jekyll-portfolio';
	@import 'components/jekyll-gallery';
	@import 'components/jekyll-contact';
	@import 'components/jekyll-bio';
	@import 'components/jekyll-lightbox';
	@import 'components/jekyll-animations';